@font-face {
	font-family: 'Undertale';
	src: url('undertale-font-rus-eng.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: black;
	color: lime;
  font-family: 'Undertale', sans-serif;
}


header {
	background-color: #4d4d4d;

}

logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
}

logo img {
  max-width: 100;
  height: auto;
}


nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

