@font-face {
	font-family: 'Undertale';
	src: url('undertale-font-rus-eng.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: black;
	color: lime;
  font-family: 'Undertale', sans-serif;
  font-size: 15px
	background-position: center;
}
}


header {
	background-color: #4d4d4d;

}


nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


div {
  display: flex;
  justify-content: center;
}


wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

#logo img {
  max-width: 100%;
  height: auto;
}
