body {
	background-color: black;
	color: lime;
}

img {
  display: block;
  margin: auto;
  width: 500px;
}

header {
	background-color: #4d4d4d;

}

logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
}

logo img {
  max-width: 100;
  height: auto;
}

@font-face {
	font-family: 'Undertale';
	src: url('..fonts/undertale-font-rus-eng.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


